.banner__home {
  background: url("../../assets/images/Banner.png"),
    linear-gradient(
      101.12deg,
      #eb1484 27.35%,
      #c91cc3 99.99%,
      #c81cc5 100%,
      #c81cc5 100%
    );
  border-radius: 25px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
